---
# Base Molecule configuration shared across all scenarios
# Individual scenarios can override or extend these settings

dependency:
  name: galaxy

driver:
  name: podman

platforms:
  - name: instance
    image: quay.io/fedora/fedora:latest
    pre_build_image: true
    command: /usr/sbin/init
    systemd: always
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host

provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: profile_tasks
  inventory:
    host_vars:
      instance:
        ansible_python_interpreter: /usr/bin/python3

verifier:
  name: ansible
