---
- name: "Validate service script exists and is executable - {{ service_script }}"
  ansible.builtin.stat:
    path: "{{ service_script }}"
  register: script_stat
  become: "{{ service_become }}"
  become_user: "{{ service_become_user }}"
  become_flags: "{{ service_become_flags }}"
  failed_when: not script_stat.stat.exists or not script_stat.stat.executable

- name: "Execute service action - {{ service_name ~ ' ' ~ service_action }}"
  become: "{{ service_become }}"
  become_user: "{{ service_become_user }}"
  become_flags: "{{ service_become_flags }}"
  block:
    - name: "Include action tasks - {{ service_action ~ '.yml' }}"
      ansible.builtin.include_tasks: "{{ service_action }}.yml"
